@charset "UTF-8";

html, body {
    background-image: url('imagens/wallpaper03.jpg');
    background-size: 1165px;
    background-attachment: fixed;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

h1 {
    background-color: rgba(7, 29, 228, 0.658);
    border-radius: 15px;
    text-align: center;
    color: white;
}

h2 {
    background-color: rgb(10, 18, 136);
    border-radius: 20px;
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    background-color:rgb(10, 18, 136);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

p {
    background-color: rgba(255, 255, 255, 0.432);
    border-radius: 20px;
    padding: 15px;
}

a {
    color: white;
}

p > a {
    background-color: rgba(255, 255, 255, 0.281);
    padding: 10px;
    border-radius: 20px;
    color:black ;
}

footer {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}